In [4]:
Use Pandas to read the following CSV files into DataFrames. Be sure to convert the dates to a DateTimeIndex.

whale_returns.csv: Contains returns of some famous "whale" investors' portfolios.

algo_returns.csv: Contains returns from the in-house trading algorithms from your company.

sp_tsx_history.csv: Contains historical closing prices of the S&P TSX 60 Index.

Identify and remove null values.

Remove any non-numeric values (e.g., dollar signs) from the DataFrames and convert the data types as needed.

The whale portfolios and algorithmic portfolio CSV files contain daily returns, but the S&P TSX 60 CSV file contains closing prices. Convert the S&P TSX 60 closing prices to daily returns.

Join Whale Returns, Algorithmic Returns, and the S&P TSX 60 Returns into a single DataFrame with columns for each portfolio's returns.

SyntaxError: unterminated string literal (detected at line 3) (3921312497.py, line 3)

In [1]:
import pandas as pd
from pathlib import Path

# Cleaning the Data

In [2]:
# Read in data
csv_path =  Path("Starter_code/Resources/whale_returns.csv")
whale_returns = pd.read_csv(csv_path, infer_datetime_format=True)
whale_returns.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [3]:
# Read in data
csv_path2 =  Path("Starter_code/Resources/algo_returns.csv")
algo_returns = pd.read_csv(csv_path2, infer_datetime_format=True)
algo_returns.head()

         Date    Algo 1  Algo 2
0  2014-05-28  0.001745     NaN
1  2014-05-29  0.003978     NaN
2  2014-05-30  0.004464     NaN
3  2014-06-02  0.005692     NaN
4  2014-06-03  0.005292     NaN

In [4]:
# Read in data
csv_path3 =  Path("Starter_code/Resources/sp_tsx_history.csv")
sp_tsx =  pd.read_csv(csv_path3, infer_datetime_format=True)
sp_tsx

             Date       Close
0      1-Oct-2012  $12,370.19
1      2-Oct-2012  $12,391.23
2      3-Oct-2012  $12,359.47
3      4-Oct-2012  $12,447.68
4      5-Oct-2012  $12,418.99
...           ...         ...
1813  20-Dec-2019  $17,118.44
1814  23-Dec-2019  $17,128.71
1815  24-Dec-2019  $17,180.15
1816  27-Dec-2019  $17,168.21
1817  30-Dec-2019  $17,098.56

[1818 rows x 2 columns]

In [18]:
# Identifying null values
whale_returns.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [19]:
#Dropping null values in a copy of the original data frame to not alter it

whale_returns2 = whale_returns.dropna().copy() 
whale_returns2

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
5,2015-03-09,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...,...
1055,2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
1056,2019-04-26,0.008149,0.009162,0.012355,0.010434
1057,2019-04-29,0.001254,0.002719,0.006251,0.005223
1058,2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
1059,2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [20]:
# Identifying null values
algo_returns.isnull().sum()

Date      0
Algo 1    0
Algo 2    6
dtype: int64

In [21]:
#Dropping null values in a copy of the original data frame to not alter it
algo_returns2 = algo_returns.dropna().copy() 
algo_returns2

            Date    Algo 1    Algo 2
6     2014-06-05  0.004062  0.013285
7     2014-06-06  0.001857  0.008284
8     2014-06-09 -0.005012  0.005668
9     2014-06-10  0.004406 -0.000735
10    2014-06-11  0.004760 -0.003761
...          ...       ...       ...
1236  2019-04-25  0.000682 -0.007247
1237  2019-04-26  0.002981  0.005256
1238  2019-04-29  0.005208  0.002829
1239  2019-04-30 -0.002944 -0.001570
1240  2019-05-01  0.000094 -0.007358

[1235 rows x 3 columns]

In [13]:
# Identifying null values
sp_tsx.isnull().sum()

Date     0
Close    0
dtype: int64

In [12]:
#Dropping null values in a copy of the original data frame to not alter it

sp_tsx2 = sp_tsx.dropna().copy() 
sp_tsx2

             Date       Close
0      1-Oct-2012  $12,370.19
1      2-Oct-2012  $12,391.23
2      3-Oct-2012  $12,359.47
3      4-Oct-2012  $12,447.68
4      5-Oct-2012  $12,418.99
...           ...         ...
1813  20-Dec-2019  $17,118.44
1814  23-Dec-2019  $17,128.71
1815  24-Dec-2019  $17,180.15
1816  27-Dec-2019  $17,168.21
1817  30-Dec-2019  $17,098.56

[1818 rows x 2 columns]

In [ ]:

Remove any non-numeric values (e.g., dollar signs) from the DataFrames and convert the data types as needed.

The whale portfolios and algorithmic portfolio CSV files contain daily returns, but the S&P TSX 60 CSV file contains closing prices. Convert the S&P TSX 60 closing prices to daily returns.

In [25]:
#checking data types
whale_returns2.dtypes

Date                            object
SOROS FUND MANAGEMENT LLC      float64
PAULSON & CO.INC.              float64
TIGER GLOBAL MANAGEMENT LLC    float64
BERKSHIRE HATHAWAY INC         float64
dtype: object

In [26]:
#checking data types
algo_returns2.dtypes

Date       object
Algo 1    float64
Algo 2    float64
dtype: object

In [27]:
#checking data types
sp_tsx2.dtypes
# we need to change the Close data type from object to numeric

Date     object
Close    object
dtype: object

In [28]:
# removing $ sign from Close column
sp_tsx2["Close"] = sp_tsx2["Close"].str.strip("$")
sp_tsx2

             Date      Close
0      1-Oct-2012  12,370.19
1      2-Oct-2012  12,391.23
2      3-Oct-2012  12,359.47
3      4-Oct-2012  12,447.68
4      5-Oct-2012  12,418.99
...           ...        ...
1813  20-Dec-2019  17,118.44
1814  23-Dec-2019  17,128.71
1815  24-Dec-2019  17,180.15
1816  27-Dec-2019  17,168.21
1817  30-Dec-2019  17,098.56

[1818 rows x 2 columns]

In [29]:
# removing commas, with commas it's impossible to convert to numeric type
sp_tsx2 = sp_tsx2.replace(',','', regex=True)
sp_tsx2

             Date     Close
0      1-Oct-2012  12370.19
1      2-Oct-2012  12391.23
2      3-Oct-2012  12359.47
3      4-Oct-2012  12447.68
4      5-Oct-2012  12418.99
...           ...       ...
1813  20-Dec-2019  17118.44
1814  23-Dec-2019  17128.71
1815  24-Dec-2019  17180.15
1816  27-Dec-2019  17168.21
1817  30-Dec-2019  17098.56

[1818 rows x 2 columns]

In [30]:
# converting Close column to numeric type
sp_tsx2["Close"] = pd.to_numeric(sp_tsx2["Close"])
sp_tsx2

             Date     Close
0      1-Oct-2012  12370.19
1      2-Oct-2012  12391.23
2      3-Oct-2012  12359.47
3      4-Oct-2012  12447.68
4      5-Oct-2012  12418.99
...           ...       ...
1813  20-Dec-2019  17118.44
1814  23-Dec-2019  17128.71
1815  24-Dec-2019  17180.15
1816  27-Dec-2019  17168.21
1817  30-Dec-2019  17098.56

[1818 rows x 2 columns]

In [ ]:
The whale portfolios and algorithmic portfolio CSV files contain daily returns, but the S&P TSX 60 CSV file contains closing prices. Convert the S&P TSX 60 closing prices to daily returns.
1. create column daily returns
2. input formula pct.change()

Join Whale Returns, Algorithmic Returns, and the S&P TSX 60 Returns into a single DataFrame with columns for each portfolio's returns.

In [32]:
# calculating daily returns with pct_chane() function and inputing result in the Daily Returns column, since we only have the Close column it will automaticcaly calculate daily returns from it no need ot do anything additional
sp_tsx2["Daily Returns"] = sp_tsx2.pct_change()

TypeError: unsupported operand type(s) for /: 'str' and 'str'